* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}
.root {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  scroll-behavior: smooth;
  background-color: black;
}

.empty-interface {
  width: 100%;
  height: 100vh;
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

}

.nothing {
  font-size: 50px;
}
.refresh-btn {
  width: 100px;
  height: 35px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 25px;
  border: none;
  background-color: cornflowerblue;
  color:rgb(23, 15, 17);
}

.refresh-btn:hover {
  background-color: blueviolet;
  color: darkblue;
}

